<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="screen" href="~/css/styling.css"/>
@model Transactions
<div id=wrapper>
    <h1>Welcome, @ViewBag.currUser.FirstName</h1>
    <a href="../logout/@ViewBag.currUser.UserId">Logout</a>
    <h2>Current balance: @ViewBag.sum</h2>
    <form action="../moneyProcess" method="post">
        <input name="Amount">
         <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <table class="table">
    <thead>
        <tr>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
       @foreach(var x in @ViewBag.Amount)
      {
      <tr>
      <td>@x.Amount</td>
      <td>@x.CreatedAt</td>
      </tr>
      }
      <tr>
        
        
      </tr>
    </tbody>
    </table>
</div>